<!doctype html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-UI</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box
    }

    :root {
      --button-height: 32px;
      --font-size: 14px;
      --button-bg: white;
      --button-active-bg: #eee;
      --border-radius: 4px;
      --color: #333;
      --border-color: #999;
      --border-color-hover: #666;
    }
    body {
      /*background-color: skyblue;*/
    }
    #app {
      /*margin: 20px;*/
    }

    body {
      font-size: var(--font-size);
    }
  </style>
  <style>
    .box {
      margin-bottom: 20px;
    }
  </style>
  <style>
    .demo {
      background: #ddd;
      border: 1px solid #666;
      height: 100px;
    }
  </style>
</head>
<body>
<div id="test"></div>
<div id="app" style="padding: 100px">
  <!--<g-tabs selected="selected" @update:selected="selected = $event">-->
<!--  <div v-if="x" class="xxx"></div>-->
<!--  <button @click="x = true">点我</button>-->
  <g-popover position="bottom">
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <g-button>点我</g-button>
  </g-popover>
  <g-popover position="top">
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <g-button>点我</g-button>
  </g-popover>
  <g-popover position="left">
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <g-button>点我</g-button>
  </g-popover>
  <g-popover position="right">
    <template slot="content">
      <div>popover 内容</div>
    </template>
    <g-button>点我</g-button>
  </g-popover>
  <br>
  <g-tabs :selected.sync="selected">
    <g-tabs-head>
      <template slot="actions">
        <button>设置</button>
      </template>
      <g-tabs-item name="woman">美女美女</g-tabs-item>
      <g-tabs-item name="finance" disabled>财经</g-tabs-item>
      <g-tabs-item name="sports">体育</g-tabs-item>
    </g-tabs-head>
    <g-tabs-body>
      <g-tabs-pane name="woman">美女相关资讯</g-tabs-pane>
      <g-tabs-pane name="finance">财经相关资讯</g-tabs-pane>
      <g-tabs-pane name="sports">体育相关资讯</g-tabs-pane>
    </g-tabs-body>
  </g-tabs>
  <br>
  <button @click="showToast1">点我</button>
  <button @click="showToast2">点我</button>
  <button @click="showToast3">点我</button>
  <br>
  <!--<g-layout style="height: 100vh">-->
  <!--<g-sider class="demo">sider</g-sider>-->
  <!--<g-layout>-->
  <!--<g-header class="demo">header</g-header>-->
  <!--<g-content class="demo">content</g-content>-->
  <!--<g-footer class="demo">footer</g-footer>-->
  <!--</g-layout>-->
  <!--</g-layout>-->
  <!--<br>-->
  <!--<g-row>-->
  <!--<g-col span="24" :ipad="{span:12}" :narrow-pc="{span:8}">-->
  <!--<div class="demo"></div>-->
  <!--</g-col>-->
  <!--<g-col span="24":narrow-pc="{span:8}">-->
  <!--<div class="demo"></div>-->
  <!--</g-col>-->
  <!--<g-col span="24" :ipad="{span:12}" :narrow-pc="{span:8}">-->
  <!--<div class="demo"></div>-->
  <!--</g-col>-->
  <!--<g-col span="24" :ipad="{span:12}" :narrow-pc="{span:8}">-->
  <!--<div class="demo"></div>-->
  <!--</g-col>-->
  <!--<g-col span="24" :ipad="{span:12}" :narrow-pc="{span:8}">-->
  <!--<div class="demo"></div>-->
  <!--</g-col>-->
  <!--</g-row>-->
  <!--<hr>-->
  <!--<div class="box">-->
  <!--<g-button :loading="loading1" @click="loading1 = !loading1">按钮</g-button>-->
  <!--<g-button icon="settings" :loading="loading2" @click="loading2 = !loading2">按钮</g-button>-->
  <!--<g-button icon="settings" icon-position="right" :loading="loading3" @click="loading3 = !loading3">按钮</g-button>-->
  <!--<g-icon name="down"></g-icon>-->
  <!--<g-button-group>-->
  <!--<g-button icon="left">上一页</g-button>-->
  <!--<g-button>更多</g-button>-->
  <!--<g-button icon="right" icon-position="right">下一页</g-button>-->
  <!--</g-button-group>-->
  <!--</div>-->
  <!--<div class="box">-->
  <!--<g-input value="张三" disabled></g-input>-->
  <!--<g-input value="只读" readonly></g-input>-->
  <!--<g-input v-model="message"></g-input>-->
  <!--<p>{{message}}</p>-->
  <!--<button @click="message +=1">+1</button>-->
  <!--&lt;!&ndash;<g-input value="张三" disabled></g-input>&ndash;&gt;-->
  <!--&lt;!&ndash;<g-input value="张三" disabled></g-input>&ndash;&gt;-->
  <!--</div>-->
</div>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="//at.alicdn.com/t/font_1765093_yogo6m02lnq.js"></script>
<script src="src/app.js"></script>
</body>
</html>